body {
  background-color: rgb(243, 243, 243);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%;
  color: grey;
  margin: 50px auto;
}

section {
  margin: 28px auto;
}
/* ------------- CLASS SELECTORS ------------- */
.btn-home {
  margin: auto 20px;
}

.footer-question {
  display: inline-block;
  margin: auto 20px;
}

.inicio-sesion {
  margin: 20px auto;
}

.kitos {
  display: inline-block;
  font-size: 1.3rem;
}

.nuevo-kito {
  margin: 20px 0;
}

.rankito-img {
  border-radius: 3rem;
  display: inline-block;
  height: 200px;
  width: 200px;
}

.section-divider {
  border-style: dotted;
  border-radius: 0;
  height: 0;
  width: 10%;
}

.titulo-inicio {
  font-family: "Karantina", cursive;
  font-size: 8rem;
}

.titulo-inicio-sesion {
  font-family: "Karantina", cursive;
  font-size: 4.5rem;
  margin: 20px auto;
}

.titulo-registro-usuario {
  font-family: "Karantina", cursive;
  font-size: 4.5rem;
  margin: 20px auto;
}
