<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    
    <title>Rankito</title>

</head>
<body>

    <h1 class="titulo-inicio">Comparte lo que piensas con RANKITO</h1>
    
    {% if usuario_logueado %}
    
        <form action="nuevo_kito" method="POST">
            
            <label for="kito">Kito</label>
            <input type="text" id="kito" name="kito">

            <input type="submit" value="Kittear">
        
        </form>
        <div class="buttons">
            <a href="logout">Cerrar sesión.</a> 
        </div>
    {% else %}
    <div class="buttons">
        <a href="crear_usuario"> Crear usuario</a> 
        <a href="ingreso_usuario"> Iniciar sesión</a>
    </div>
    {% endif %}
    
    <br>

    {% for kito in rankito %}

        <h3>{{ kito.texto }} => {{ kito.puntaje }}</h3>

        {% if usuario_logueado and kito.votable %}

        <form action="votar_mas_uno" method="POST" style="display: inline;">
           
            <input type="hidden" name="kito" value="{{kito.texto}}">
            <input type="submit" value="+1">

        </form>

        <form action="votar_menos_uno" method="POST" style="display: inline;">
           
            <input type="hidden" name="kito" value="{{kito.texto}}">
            <input type="submit" value="-1" style="display: inline;">

        </form>
        {% endif %}
    {% endfor %}
    
    <img class="rankito-img" src="{{ url_for('static', filename='rankito-img.png') }}" alt="..">
    <h2>No barats</h2>

</body>
</html>