<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
    
    <title>Rankito</title>

</head>
<body>

    <h1 class="titulo-inicio">Comparte lo que piensas con RANKITO</h1>
    {% if usuario_logueado %}
    {% else %}
    <div class="buttons">
        <a href="crear_usuario"> Crear usuario</a> 
        <a href="ingreso_usuario"> Iniciar sesión</a>
    </div>
    {% endif %}
    <img class="rankito-img" src="{{ url_for('static', filename='rankito-img.png') }}" alt="..">

</body>
</html>