<html>
    <head>

    </head>
    <body>
        <h1>Comparte lo que piensas con RANKITO</h1>
        {% if usuario_logueado %}
        {% else %}
        <a href="crear_usuario" 
        style="border-radius: 5rem;
        padding: 1rem;
        display: inline-block;
        width: 200px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: aquamarine; 
        color:white"> Crear usuario</a> <br>
        <br>
        <a href="ingreso_usuario" style="border-radius: 5rem;
        padding: 1rem;
        display: inline-block;
        width: 200px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: aquamarine; 
        color:white"> Iniciar sesión</a>
        {% endif %}
    </body>
</html>